{% extends "base.html" %}
{% block content %}
<!-- <script type="text/javascript" src="../eel.js"></script> -->
<p></p>
<div class="search " style="color: white; margin:1rem auto;"> 
<form method = "POST" class="search-container mx-auto">
 
  <!-- <input type="text" name="searchanime" placeholder="Search Anime with Episode"> -->
 
 
    {{searchform}} {% csrf_token %}
    <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
  <!-- <input type="submit" value=Submit"  class="search-btn"> -->
</form>
</div> 
  
  <div class="container" style="color: white;">
    <h3 class="mx-auto">{{title}}</h3>
   <div class="row">
        <div class="col-lg-8"> Description: <p>{{description}}</p>
            <h5>Episode : {{episode}}</h5>
            <h6>Type : {{typ}}</h6>
            <a class="btn btn-success" href="{{stream}}">Stream</a> 
           <a class="btn btn-success"  href="{{download}}"> Download</a> </div>
        <div class="col-lg-4"><img src="{{cover}}" style="width: 270px;" alt="cover img of {{title}}"></div>  </div> 
       
    
 
</div>

{% endblock %}

