{% extends "base.html"%}

    {% block content %}


   
        <div class="login-main">
             
            <section id="card" >
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d218907d-0c0c-4d60-8653-c9662006ad3a/dae7gsa-34b0aa59-96f2-4906-be23-8b2bc3ad4dc0.png/v1/fill/w_1024,h_700,strp/manga_comparisons_by_barananduen_dae7gsa-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzAwIiwicGF0aCI6IlwvZlwvZDIxODkwN2QtMGMwYy00ZDYwLTg2NTMtYzk2NjIwMDZhZDNhXC9kYWU3Z3NhLTM0YjBhYTU5LTk2ZjItNDkwNi1iZTIzLThiMmJjM2FkNGRjMC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.GaUsVBhOY5fld4CDAlY1Q3H1Lo0zCFBR6FOvxlaDAyw"  width="699px" alt="">
                  </section>
       
           
            <div class="login-form" >
                <!-- error message -->
            {% if messages %}

                {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
                {% endfor %}
          
            {% endif %}
            <!-- this genrates errors -->

                <!--
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form method="post" >
                    {% csrf_token %}
                    <h1>Lets sign you in </h1>
                     <h2 style="color: aliceblue;"><span>Welcome Back</span> <span>You have been Missed</span></h2>
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" name="username" class="form-input" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <a href="#" style="float:right;font-size:12px;">Forgot password?</a>
                        <input type="password" name="password" class="form-input" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="login-btn">Sign in</button>
                    
                    <div class="dont-have">
                        Don't have an account? <a href="{% url 'register_attempt' %}">Create One</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    

    {% endblock %}